<a href="https://colab.research.google.com/github/hayaboy/ADP_Practical_Exam/blob/main/3_4%EC%A4%91%EB%B3%B5%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%99%95%EC%9D%B8%EB%B0%8F%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame({'c1':['a','a','b','a','b'],
                'c2':[1,1,1,2,2],
                 'c3':[1,1,2,2,2]}
               )

In [ ]:
df

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [ ]:
df_dup=df.duplicated()

In [ ]:
df_dup

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [ ]:
col_dup=df['c2'].duplicated()

In [ ]:
col_dup

0    False
1     True
2     True
3    False
4     True
Name: c2, dtype: bool

In [ ]:
df2=df.drop_duplicates()

In [ ]:
df2

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [ ]:
df

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [ ]:
df3=df.drop_duplicates(subset=['c2','c3'])

In [ ]:
df3

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2