<a href="https://colab.research.google.com/github/hayaboy/ADP_Practical_Exam/blob/main/3_5%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%8A%B9%EC%84%B1_%EA%B3%B5%ED%95%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('./auto-mpg.csv',header=None)

In [ ]:
df

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [ ]:
# 데이터는 갤런당 마일 단위의 도시 주기 연료 소비에 관한 것이며, 3개의 다중 값 이산 속성과 5개의 연속 속성

In [ ]:
df.columns=['mpg','cylinders','displacement','horsepower','weight','acceleration','model_year','origin','car_name']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
 9   kpl           398 non-null    float64
dtypes: float64(5), int64(3), object(2)
memory usage: 31.2+ KB

속성 정보:<br><br>

mpg: 연속 <br>
실린더: 다중 값 이산형 <br>
변위: 연속 <br>
마력: 연속 <br>형이여야 하나 object임(float로 형변환 필요함)
무게: 연속 <br>
가속도: 연속 <br>
모델 연도: 다중 값 이산형 <br>
출처: 다중 값 이산형 <br>
자동차 이름: 문자열(각 인스턴스마다 고유함)

origin 열은 보통 자동차의 제조 국가 또는 원산지를 나타냅니다. 대부분의 경우, 이 열은 숫자로 표시되는데, 일반적으로 다음과 같은 값을 가집니다:
<br>
1: 미국
2: 유럽
3: 아시아<br>
따라서 origin 열을 기준으로 데이터를 분석하면 각 자동차가 어느 국가에서 생산되었는지 알 수 있습니다. 이는 자동차의 특성이나 성능에 영향을 줄 수 있는 다양한 문화적, 경제적, 기술적 요인을 고려할 수 있게 해줍니다.

In [ ]:
# mpg 파생변수만들기,

In [ ]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [ ]:
# 1.60934 / 3.78541

In [ ]:
1.60934 / 3.78541

0.42514285110463595

In [ ]:
mpg_to_kpl=1.60934 / 3.78541

In [ ]:
df['kpl'] = df['mpg']*mpg_to_kpl

In [ ]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,kpl
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu,7.652571
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,6.377143
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,7.652571
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst,6.802286
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino,7.227428

이러한 경우, "실린더" 열은 명목형 변수로 간주됩니다. 이는 그 자체로 범주를 나타내며, 순서나 간격의 개념이 없습니다.

실린더 수가 증가함에 따라 엔진의 성능이 일반적으로 증가하지만, 이는 단순히 실린더 수의 증가 때문만이 아니라 다양한 다른 요인들에 의해 영향을 받을 수 있습니다. 따라서 "실린더" 열을 순서형, 등간형 또는 비율형 변수로 처리하는 것은 적절하지 않습니다. 대신, 이를 명목형 변수로 처리하여 각 범주에 대한 정보를 고려하는 것이 바람직합니다.

In [ ]:
df.cylinders.value_counts()

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64

모델연도" 열은 주로 자동차의 생산 연도를 나타냅니다. 예를 들어, 1980년 모델이나 1990년 모델 등이 될 수 있습니다. 이러한 경우, "모델연도" 열은 주로 순서형 변수로 간주됩니다.

순서형 변수는 값들 간에 순서가 있고, 서수로 나타낼 수 있는 변수입니다. "모델연도"의 경우, 연도가 증가할수록 시간적으로 더 최근에 생산된 자동차임을 나타내므로 순서를 가집니다.

하지만 "모델연도"를 등간형 변수로 처리할 수도 있습니다. 등간형 변수는 값들 간에 일정한 간격이 있고, 서수로 나타낼 수 있는 변수입니다. 예를 들어, 두 연도 사이의 간격이 정확히 1년일 경우 등간형 변수로 처리할 수 있습니다.

따라서 "모델연도"를 순서형 변수로 처리하는 것이 일반적으로 더 적절할 것으로 생각됩니다. 그러나 분석의 목적과 특성에 따라 등간형 변수로 처리하는 것도 가능합니다.

In [ ]:
df.model_year.value_counts()

model_year
73    40
78    36
76    34
82    31
75    30
70    29
79    29
80    29
81    29
71    28
72    28
77    28
74    27
Name: count, dtype: int64

In [ ]:
df.model_year.value_counts().sort_index()

model_year
70    29
71    28
72    28
73    40
74    27
75    30
76    34
77    28
78    36
79    29
80    29
81    29
82    31
Name: count, dtype: int64

In [ ]:
df.model_year.value_counts().sort_values()

model_year
74    27
71    28
72    28
77    28
70    29
79    29
80    29
81    29
75    30
82    31
76    34
78    36
73    40
Name: count, dtype: int64

In [ ]:
# np.sort(df.model_year)

In [ ]:
df['kpl']=df['kpl'].round(2)

In [ ]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,kpl
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu,7.65
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,6.38
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,7.65
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst,6.80
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino,7.23

In [ ]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model_year        int64
origin            int64
car_name         object
kpl             float64
dtype: object

In [ ]:
df.origin.unique()

array([1, 3, 2], dtype=int64)

In [ ]:
df.origin.value_counts()  #1: 미국 2: 유럽 3: 아시아

origin
1    249
3     79
2     70
Name: count, dtype: int64

In [ ]:
df['horsepower'].unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '?', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [ ]:
df['origin'].replace({1:'USA',2:'EU',3:'JAPAN'}, inplace=True)

In [ ]:
df.origin.unique()

array(['USA', 'JAPAN', 'EU'], dtype=object)

In [ ]:
df['origin']=df['origin'].astype('category')

In [ ]:
df['origin'].dtypes

CategoricalDtype(categories=['EU', 'JAPAN', 'USA'], ordered=False, categories_dtype=object)

In [ ]:
df['origin']=df['origin'].astype('str')

In [ ]:
df['origin'].dtypes

dtype('O')

In [ ]:
print(df['origin'].dtypes)

object

In [ ]:
df.model_year

0      70
1      70
2      70
3      70
4      70
       ..
393    82
394    82
395    82
396    82
397    82
Name: model_year, Length: 398, dtype: int64

In [ ]:
df['model_year'].sample(3)

361    81
151    74
347    81
Name: model_year, dtype: int64

In [ ]:
df['model_year']=df['model_year'].astype('category')

In [ ]:
df['model_year'].sample(3)

222    77
232    77
375    82
Name: model_year, dtype: category
Categories (13, int64): [70, 71, 72, 73, ..., 79, 80, 81, 82]

### 범주형 데이터 변환(구간 분할)

In [ ]:
df=pd.read_csv('./auto-mpg.csv',header=None)

In [ ]:
df.columns=['mpg','cylinders','displacement','horsepower','weight','acceleration','model_year','origin','car_name']

In [ ]:
horsepower_series=df['horsepower']

In [ ]:
horsepower_series[horsepower_series=='?']

32     ?
126    ?
330    ?
336    ?
354    ?
374    ?
Name: horsepower, dtype: object

In [ ]:
horsepower_series[horsepower_series=='?'].index

Index([32, 126, 330, 336, 354, 374], dtype='int64')

In [ ]:
df['horsepower'].replace('?', np.nan, inplace=True)

In [ ]:
horsepower_series[horsepower_series=='?'].index

Index([], dtype='int64')

In [ ]:
horsepower_series.isnull().sum()

6

In [ ]:
df.dropna(subset=['horsepower'], axis=0, inplace=True)

In [ ]:
df['horsepower'].isnull().sum()

0

In [ ]:
# 398-6

In [ ]:
len(df)

392

In [ ]:
#

In [ ]:
df['horsepower'].dtype

dtype('O')

In [ ]:
df['horsepower']=df['horsepower'].astype('float')

In [ ]:
count, bin_dividers=np.histogram(df['horsepower'],bins=3)

In [ ]:
print(count, bin_dividers)

[257 103  32] [ 46.         107.33333333 168.66666667 230.        ]

In [ ]:
print(46- 107.33333333)
print(107.33333333 - 168.66666667)
print(168.66666667 - 230)

-61.33333333
-61.33333334000001
-61.33333332999999